@model IEnumerable<WatchShop.EntityFramework.Blog>

@{
    ViewBag.Title = "Danh sách Blog";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var stt = 1;
}

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            STT
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            Thao tác
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @(stt++)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedPerson.UserName)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
       
        <td>
            @Html.ActionLink("Cập nhật", "Edit", new { id=item.BlogId }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.BlogId }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.BlogId })
        </td>
    </tr>
}

</table>
