@model WatchShop.Models.Register
@using BotDetect.Web.Mvc;
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
      rel="stylesheet" type="text/css" />
@{
    MvcCaptcha registerCapcha = new MvcCaptcha("RegisterCapcha");
    registerCapcha.UserInputID = "CaptchaCode";
}

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Script{
    <script src="~/Assets/Client/js/controller/UserController.js"></script>
}
<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        <div class="flex-w flex-tr">
            <div class="m-auto bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "w-full" }))
                {
                    @Html.AntiForgeryToken()

                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                        Register

                    </h4>
                    <p class="stext-102 p-b-20 cl6">
                        To register for your CozaStore account, please fill in the below form then click 'Register'
                    </p>
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                    if (ViewBag.Success != null)
                    {
                        <div class="alert alert-success">@ViewBag.Success</div>
                    }
                    if (ViewBag.Failed != null)
                    {
                        <div class="alert alert-danger">@ViewBag.Failed</div>
                    }
                    <div class="row p-b-25">
                        <div class="col-sm-6 p-b-5">
                            @Html.LabelFor(model => model.UserName, new { @class = "stext-102 cl3" })
                            <div>
                                @Html.TextBoxFor(model => model.UserName, new { @class = "size-111 bor8 stext-102 cl2 p-lr-20" })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6 p-b-5">
                            @Html.LabelFor(model => model.Name, new { @class = "stext-102 cl3" })
                            <div>
                                @Html.TextBoxFor(model => model.Name, new { @class = "size-111 bor8 stext-102 cl2 p-lr-20" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6 p-b-5">
                            @Html.LabelFor(model => model.Email, new { @class = "stext-102 cl3" })
                            <div>
                                @Html.TextBoxFor(model => model.Email, new { @class = "size-111 bor8 stext-102 cl2 p-lr-20" })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6 p-b-5">
                            @Html.LabelFor(model => model.Phone, new { @class = "stext-102 cl3" })
                            <div>
                                @Html.TextBoxFor(model => model.Phone, new { @class = "size-111 bor8 stext-102 cl2 p-lr-20" })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12 p-b-5">
                            @Html.LabelFor(model => model.Address, new { @class = "stext-102 cl3" })
                            <div>
                                @Html.TextBoxFor(model => model.Address, new { @class = "size-111 bor8 stext-102 cl2 p-lr-20" })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6 p-b-5">
                            @Html.LabelFor(model => model.ProvinceID, new { @class = "stext-102 cl3" })
                            <div>
                                @Html.DropDownList("ProvinceID", new SelectList(new string[] { }), new { @class = "size-111 bor8 stext-102 cl2 p-lr-20", @id = "ddlProvince" })
                                @Html.ValidationMessageFor(model => model.ProvinceID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6 p-b-5">
                            @Html.LabelFor(model => model.DistrictID, new { @class = "stext-102 cl3" })
                            <div>
                                @Html.DropDownList("DistrictID", new SelectList(new string[] { }), new { @class = "size-111 bor8 stext-102 cl2 p-lr-20", @id = "ddlDistrict" })

                                @Html.ValidationMessageFor(model => model.DistrictID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-6 p-b-5">
                            @Html.LabelFor(model => model.Password, new { @class = "stext-102 cl3" })
                            <div>
                                @Html.PasswordFor(model => model.Password, new { @class = "size-111 bor8 stext-102 cl2 p-lr-20" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6 p-b-5">
                            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "stext-102 cl3" })
                            <div>
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "size-111 bor8 stext-102 cl2 p-lr-20" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6 p-b-5">
                            @Html.Captcha(registerCapcha)
                            @Html.TextBox("CaptchaCode", null, new { @class = "size-70 bor8 stext-102 cl2 p-lr-20" })
                        </div>
                    </div>
                    <input value="Register" type="submit" class="m-auto flex-c-m stext-101 cl0 size-112 bg7 bor11 hov-btn3 p-lr-15 trans-04 m-b-10" />
                }
            </div>
        </div>
    </div>
</section>	