@model IEnumerable<WatchShop.EntityFramework.Material>

@{
    ViewBag.Title = "Chất liệu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaterialName)
        </th>
        <th>Thao tác</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaterialName)
        </td>
        <td>
            @Html.ActionLink("Cập nhật", "Edit", new { id=item.MaterialId }) |
           
            @Html.ActionLink("Xóa", "Delete", new { id=item.MaterialId })
        </td>
    </tr>
}

</table>
