@model IEnumerable<WatchShop.EntityFramework.Material>

@{
    ViewBag.Title = "List materials";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaterialName)
        </th>
        <th>Update</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaterialName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaterialId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaterialId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaterialId })
        </td>
    </tr>
}

</table>
