@model PagedList.IPagedList<WatchShop.EntityFramework.Blog>
@using PagedList.Mvc;
@using WatchShop.Common
@using WatchShop.EntityFramework
@{
    //IEnumerable<Product> products = ViewBag.Product;
    ViewBag.Title = "Blogs";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Title page -->
<section class="bg-img1  p-lr-15 p-tb-92" style="background-image: url('/Assets/Client/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 p-l-100 ">
        Blog
    </h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-62 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9 p-b-80">
                <div class="p-r-45 p-r-0-lg">
                    @foreach (var item in Model)
                    {
                        <!-- item blog -->
                        <div class="p-b-63">
                            <a href="@Url.Action("Detail","Blog",new { id=item.BlogId})" class="hov-img0 how-pos5-parent">
                                <img src="@item.Image" alt="IMG-BLOG">

                                <div class="flex-col-c-m size-123 bg9 how-pos5">
                                    <span class="ltext-107 cl2 txt-center">
                                        @StringHelper.getDate(item.CreatedDate)
                                    </span>

                                    <span class="stext-109 cl3 txt-center">
                                        @StringHelper.getMonthYear(item.CreatedDate)
                                    </span>
                                </div>
                            </a>

                            <div class="p-t-32">
                                <h4 class="p-b-15">
                                    <a href="@Url.Action("Detail","Blog",new { id=item.BlogId})" class="ltext-108 cl2 hov-cl1 trans-04">
                                        @item.Title
                                    </a>
                                </h4>

                                <p class="stext-117 cl6">
                                    @item.Description
                                </p>

                                <div class="flex-w flex-sb-m p-t-18">
                                    <span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10">
                                        <span>
                                            <span class="cl4">By</span> @item.CreatedPerson.Name
                                            <span class="cl12 m-l-4 m-r-6">|</span>
                                        </span>

                                        <span>
                                            Đồng hồ, WatchStyle
                                            @*<span class="cl12 m-l-4 m-r-6">|</span>*@
                                        </span>

                                       
                                    </span>

                                    <a href="@Url.Action("Detail","Blog",new { id=item.BlogId})" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
                                        Đọc tiếp

                                        <i class="fa fa-long-arrow-right m-l-9"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- Pagination -->
                    <div class="flex-l-m flex-w w-full p-t-10 m-lr--7">
                        @Html.PagedListPager(Model, page => Url.Action("Index", "Blog",
                            new { page }))
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 p-b-80">
                @RenderPage("~/Views/Shared/SlideMenuBlog.cshtml")
              
            </div>
        </div>
    </div>
</section>
