@model IEnumerable<WatchShop.EntityFramework.Color>

@{
    ViewBag.Title = "List color";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ColorName)
        </th>
        <th>Update</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ColorName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ColorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ColorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ColorId })
        </td>
    </tr>
}

</table>
