@model WatchShop.EntityFramework.Product

@{
    ViewBag.Title = "Delete Product";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color.ColorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.ColorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedPerson.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedPerson.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material.MaterialName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material.MaterialName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedPerson.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedPerson.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.SupplierName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotionPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoreImages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoreImages)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.FaceRadius)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaceRadius)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaceThickness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaceThickness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WireLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WireLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
