@model IEnumerable<WatchShop.EntityFramework.Product>

@{
    ViewBag.Title = "Product List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>

                    <th>
                        Product Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Promotion Price
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Created Date
                    </th>

                    <th>
                        Update
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PromotionPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
                <!-- /.card -->



@section script
{
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}
