@model IEnumerable<WatchShop.EntityFramework.Product>

@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <p>
            @Html.ActionLink("Tạo mới", "Create")
        </p>
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Mã
                    </th>

                    <th>
                        Tên sản phẩm
                    </th>
                    <th>
                        Ảnh
                    </th>
                    <th>
                        Giá
                    </th>
                    <th>
                        Loại
                    </th>
                    <th>
                        Tồn kho
                    </th>
                    <th>
                        Ngày tạo
                    </th>

                    <th>
                        Thao tác
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            <img width="150"  src=" @Html.DisplayFor(modelItem => item.Image)" />
                           
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            <a href="#" data-id="@item.ProductId" class="btn-images">Quản lý ảnh</a>
                            <br />
                            @Html.ActionLink("Cập nhật", "Edit", new { id = item.ProductId })
                            <br />
                            @Html.ActionLink("Chi tiết", "Details", new { id = item.ProductId })
                            <br />
                            @Html.ActionLink("Xóa", "Delete", new { id = item.ProductId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
<!-- Modal -->
<div class="modal fade" id="imageManage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="imageList"></div>
                <div class="clear"></div>
                <input type="button" id="btnChooImages" class="btn btn-primary"  value="Choose Image" />
               
                <input type="hidden" id="hidProductID" value="0"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnSaveImages" class="btn btn-success">Save changes</button>
            </div>
        </div>
    </div>
</div>



@section script
{

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
    <script src="~/Assets/Admin/dist/js/controller/productController.js"></script>
}
