@model WatchShop.EntityFramework.User
@{
    ViewBag.Title = "Lịch sử mua hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var UserName = Model.Name;
}

@RenderPage("~/Views/Shared/Breadcrum.cshtml")


<!-- Content page -->
<section class="bg0 p-t-10 p-b-116">
    <div class="container">
        <div class="col-lg-10 col-xl-7 m-lr-auto m-b-20">
            <h4 class=" mtext-105 cl2 txt-center p-b-20">
                Tài khoản của @UserName
            </h4>
        </div>
        <div class="row">

         @RenderPage("~/Views/Shared/AccountNavigation.cshtml")
            <div class="col-lg-10 col-xl-8 m-b-50">
                <div class="bor10 m-l-5 m-r--20 m-lr-0-xl">
                    <h4 class="mtext-90 cl2 txt-center p-t-13 p-b-13">
                        Lịch sử mua hàng
                    </h4>
                    @if (Model.Orders.Count > 0)
                    {
                        <table class="order-history">
                            <tr class="table_head">
                                <th class="column-1">Mã đơn hàng</th>
                                <th class="column-2">Ngày đặt hàng</th>
                                <th class="column-3">Tổng thanh toán</th>
                                <th class="column-4">Tình trạng</th>
                                <th class="column-5">Chi tiết</th>
                            </tr>
                            @foreach (var item in Model.Orders)
                            {
                                <tr class="table_row">
                                    <td class="column-1">
                                        @item.OrderId
                                    </td>
                                    <td class="column-2">@item.OrderDate.ToString("dd/MM/yyyy")</td>
                                    <td class="column-3"> @WatchShop.Common.StringHelper.CurrencyFormat(item.TotalPayment)</td>
                                    <td class="column-4">
                                        @item.OrderStatus.StatusName
                                    </td>
                                    <td class="column-5"><a class="cl1 hov-cl2" href="@Url.Action("OrderDetail","Account", new { id = item.OrderId } )">Xem thêm</a></td>
                                </tr>
                            }

                        </table>
                    }
                    else
                    {
                        <div class="card-body cart">
                            <div class="col-sm-12 empty-cart-cls text-center">
                                <h3><strong>Bạn chưa thực hiện đơn hàng nào.</strong></h3>
                                <h4>Hãy mua sắm thêm!</h4> <br /> <a href="@Url.Action("ProductList","Product")" class="btn bg3 cl0 bor14 cart-btn-transform hov-btn3" data-abc="true">Continue shopping</a>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</section>
