@model WatchShop.EntityFramework.Order

@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal? total = 0;
    foreach (var item in Model.OrderDetails)
    {
        total += item.Price;
    }
    decimal? Discount = 0;
    if (Model.Coupon != null)
    {
        if (total * Model.Coupon.Discount / 100 > Model.Coupon.MaxDiscount)
        {
            Discount = Model.Coupon.MaxDiscount;
        }
        else
        {
            Discount = total * Model.Coupon.Discount / 100;
        }
    }
    int statusDone = WatchShop.Common.OrderStatusConst.HoanThanh;
    int statusCancel = WatchShop.Common.OrderStatusConst.ChoDuyet;
}


@section CSS{

    <link href="~/Assets/Client/css/payment.css" rel="stylesheet" />
}

<div id="order-heading" class="d-flex border flex-column justify-content-center wrapper m-b-20">
    <div class="stext-104 d-flex justify-content-start align-items-center pl-3 py-3 mb-4">
        <div class="text-uppercase text-muted h5"> Chi tiết đơn hàng #@Model.OrderId - @Model.OrderStatus.StatusName </div>
        <div class="ml-auto ">  Ngày đặt hàng: @Model.OrderDate.ToString("dd/MM/yyyy") </div>
    </div>
    <div class="row border rounded p-1 my-3">
        <div class="col-md-6 py-3">
            <div class="d-flex flex-column stext-104 align-items start">

                <b>Thông tin người nhận:</b>
                <p class="text-justify pt-2">
                    Họ tên: @Model.User.Name <br />SĐT: @Model.User.Phone
                    <br />
                    Địa chỉ: @Model.User.Address, @Model.User.District, <br /> @Model.User.Province
                </p>
            </div>
        </div>
        <div class="col-md-6 py-3">
            <div class="d-flex flex-column stext-104 align-items start">
                <b>Hình thức thanh toán</b>
                <p class="text-justify pt-2">@Model.PaymentMethod.MethodName</p>
            </div>
        </div>
    </div>
    <div class=" p-b-10 ">
        <table class="table">
            <thead>
                <tr class="text-uppercase stext-104">
                    <th scope="col">Sản phẩm</th>
                    <th scope="col">Giá</th>
                    <th scope="col" class="text-right">Số lượng</th>
                    <th scope="col" class="text-right"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderDetails)
                {
                    <tr>
                        <td class="stext-104">@item.Product.ProductName</td>
                        <td class="stext-104"> @WatchShop.Common.StringHelper.CurrencyFormat(item.Product.SalePrice)</td>
                        <td class="text-right stext-104"><b>x @item.Quantity</b></td>
                        <td class="text-right">
                            @if (Model.OrderStatus.OrderStatusId == statusDone)
                            {
                                <a href="#" data-id="@item.Product.ProductId" class="btnReview stext-104 cl1 hov-cl2">
                                    Viết nhận xét
                                </a>

                                @section Script{
                                    <script src="~/Assets/Client/js/controller/reviewController.js"></script>
                                }
                            }
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="bor12 m-tb-20">

    </div>
    <div class="stext-104 d-flex justify-content-start align-items-center py-1 pl-3">
        <div class="text-muted">Tạm tính</div>
        <div class="ml-auto"> <label> @WatchShop.Common.StringHelper.CurrencyFormat(total)</label> </div>
    </div>

    <div class="d-flex justify-content-start align-items-center py-1 pl-3">
        <div class="text-muted stext-104">Phí vận chuyển</div>
        <div class="ml-auto stext-104"> <label>00đ</label> </div>
    </div>
    <div class="d-flex justify-content-start align-items-center py-1 pl-3">
        <div class="text-muted stext-104">Giảm giá</div>
        <div class="ml-auto stext-104"> <label>-@WatchShop.Common.StringHelper.CurrencyFormat(Discount)</label> </div>
    </div>
    <div class="bor12 m-tb-20">

    </div>
    <div class="stext-104 d-flex justify-content-start align-items-center pl-3 py-3 mb-4">
        <div class="text-muted h5"> Tổng cộng </div>
        <div class="ml-auto h5"> @WatchShop.Common.StringHelper.CurrencyFormat(Model.TotalPayment) </div>
    </div>
    @if (Model.StatusId == statusCancel)
    {
        <div class="stext-104 d-flex justify-content-start align-items-center pl-3 py-3 mb-4">
            <div class="text-muted"> </div>
            <a href="#" data-id="@Model.OrderId" class="btnCancelOrder size-125 m-auto m-tb-10 flex-c-m stext-101 cl0 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                Hủy đơn hàng
            </a>
        </div>
        @section Script{

            <script src="~/Assets/Client/js/controller/OrderController.js"></script>
        }
    }
</div>

@*@Url.Action("CancelOrder", "Account", new { id = Model.OrderId })*@
<!-- Modal hủy đơn hàng -->
<div class="modal fade m-tb-100" id="ReasonCancel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lý do hủy đơn hàng #@Model.OrderId</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="txtReason" class="form-control"></textarea>
                @* thẻ tạm bị ẩn lúc click vào thẻ a thì gán id order vào thẻ này, sau đó lấy ra và gửi tới controller  *@
                <input type="hidden" id="hidOrderID" value="0" />
            </div>
            <div class="modal-footer">

                <button type="button" id="btnConfirmCancelOrder" class="  btn btn-secondary ">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Viết nhận xét cho sản phẩm -->
<div class="modal fade m-tb-100" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="#title">Nhận xét cho sản phẩm </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="txtComment" placeholder="Nhận xét..." rows="3" class="form-control"></textarea>
                @* thẻ tạm bị ẩn lúc click vào thẻ a thì gán id order vào thẻ này, sau đó lấy ra và gửi tới controller  *@
                <input type="hidden" id="hidProductID" value="0" />
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSendReview" class="  btn btn-secondary ">Gửi nhận xét</button>
            </div>
        </div>
    </div>
</div>






